<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Sign up Form with Rounded Social Buttons</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="signup-form">
    <form [formGroup]="candidateData" (ngSubmit)="loginCandidate()">
		<h3>User Login</h3>
	
		
        
		<div class="form-group">
            <input type="email" class="form-control input-lg" formControlName="email" placeholder="Email Address" required="required">
            <span class="text-danger"
            *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
            Email is required
          </span>
          <span class="text-danger" *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
            Enter a valid email address
          </span>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" required="required">
            <span class="text-danger"
            *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
            Password is required
          </span>
          <span class="text-danger"
            *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.pattern">
            Enter a valid Password
            <ul class="text-muted">
              <li>At least 8 characters in length</li>
              <li>Lowercase letters</li>
              <li>Uppercase letters</li>
              <li>Numbers Special characters
    
              </li>
            </ul>
          </span>
        </div>
		
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Login</button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="alert">
          Login Successfully
         </div>
         <div class="alert alert-danger" role="alert" *ngIf="incorrect">
          Enter correct id and password
         </div>
         <div *ngIf="errormessage" class="alert alert-warning">
          <strong>Warning!</strong> {{errormessage}}
        </div>
        <div class="or-seperator"><b>or</b></div>
        <p class="hint-text">Login up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="https://www.facebook.com/" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="https://twitter.com/LOGIN" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="https://accounts.google.com/login/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
		</div>
    </form>
     <div class="text-center">Don't have an account? <a routerLink="/signup">Signup here</a></div>
</div>
</body>
</html>
<router-outlet></router-outlet>